<div style="background-image: url('https://th.bing.com/th/id/R.1bdde1f292b54622e42d2ecc0fbc2d3d?rik=aLBp9Mg3p3QCew&pid=ImgRaw&r=0');height: 100%;">
<p>
  <mat-toolbar color="primary">
    <span>TickerBookingApplication</span>
    <h1>--->{{movieName}}</h1> 
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<section class="background-radial-gradient overflow-hidden">

  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
      </div>

      <div class="col-md-5 col-lg-6 col-xl-6 offset-xl-1">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="bookingForm">
              <!-- TheaterName input -->
              <div class="form-outline mb-4">
                <input type="text" id="theaterName" class="form-control" formControlName="theaterName" />
                <label class="form-label" for="theaterName">Theater Name</label>
              </div>

              <!-- Seat Booked input -->
              <div class="form-outline mb-4">
                <input type="number" id="seatBooked" class="form-control" formControlName="seatBooked" />
                <label class="form-label" for="seatBooked">Seat Booked</label>
              </div>

              <!-- Address input -->
              <div class="form-outline mb-4">
                <input type="text" id="address" class="form-control" formControlName="address" />
                <label class="form-label" for="address">Address</label>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" (click)="bookTicket()">
                Book Ticket
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>