.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.simple-linear {
    background: linear-gradient(blue, pink);
  }

  .selector {
    background-image: url("../../../assets/Login.jpeg");
}
a{
  color: hsl(218, 81%, 95%)
}
